{% extends "base.html" %}

{% block content %}
    {% if retry %}
    <div class="alert alert-danger" role="alert">Adding fail!!! Please retry.</div>
    {% end %}
    <div class="container">
        <div class="jumbotron profile">
            <h1>Add</h1>
        </div>
        <form class="form-horizontal" action="add" method="POST">
            <div class="form-group">
                <label class="col-sm-4 control-label">瀏覽錄音檔: </label>
                <div class="col-sm-4">
                    <input type="file" class="file" name="path" multiple="true" />
                </div>
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
        </form>
    </div>
{% end %}
