{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="jumbotron profile">
            <h1>Homepage</h1>
        </div>
        <h2 class="text-primary">Introduction</h2>
        <blockquote>
            <p>It is a tool for searching and labeling local files, and also recommends related courses.</p>
        </blockquote>
        <h2 class="text-primary">Author</h2>
        <blockquote>
            <ul>
                <li>洪任諭</li>
                <li>宋彥頡</li>
                <li>張天慈</li>
                <li>李俊鈺</li>
            </ul>
        </blockquote>
        <h2 class="text-primary">Usage</h2>
        <blockquote>
            <ol>
                <li>
                    <h3><a class="url" href="/search">Search</a></h3>
                    <p>關鍵字搜尋目前已經加入過的檔案。</p>
                </li>
                <li>
                    <h3><a class="url" href="/view">View</a></h3>
                    <p>檢視目前已經加入過的檔案。</p>
                </li>
            </ol>
        </blockquote>
    </div>
{% end %}
