{% extends "base.html" %}

{% block content %}
    {% if success %}
    <script>alert("Adding successfully!!!");</script>
    {% end %}
    <div class="container">
        <div class="jumbotron profile">
            <h1>View</h1>
        </div>
        <ol>
            {% for (first, second) in data.items() %}
            <blockquote>
                <li>
                    {{ escape(first) }}
                    <ul>
                    {% for x in second %}
                    <li>{{ escape(x) }}</li>
                    {% end %}
                    </ul>
                </li>
            </blockquote>
            {% end %}
        </ol>
    </div>
{% end %}
